form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.display-4 {
    left: 123px;
    margin: 0 auto;

}

table {
    box-sizing: border-box;
    box-shadow: black;
}